<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Quik-Flip: A house flipping recommender</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/bootstrap-template.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<!--
<body>
    <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-left">
          <!-- don't forget to link pages back to home-->
          <!--
          <li role="presentation"><a href="/">&larr; Back to Home</a></li>
        </ul>
      </nav>
    </div>
<br><br>

  <!--here's the input container-->



<span>
	<div class="col-md-20" style="background-color:#7760aa">
		<font color="#ffffff" size="20"">  
			<center>QuiK-Flip</center>
		</font>
	</div>
</span>

<span>
	<div class="col-md-20" style="background-color:white">
		<font color="black" size="20"">  
			<center> App for flipping houses</center>
		</font>
	</div>
</span>

<br></br>
<br></br>
<br></br>




<!--
<div class = "container">
	<form action="/reno_features" method="get">
<div class="row">
	<label for="sel1"> Home-value: </label> 
		<select class="form-control col-sm-3" id="zipcode" name="reno_feature"> 
			<option> Exterior Finish </option>
			<option> Exterior Condition </option>
			<option> Interior Finish </option>
			<option> Interior Condition </option>
		</select>

</div>

		<br>
	<button type="submit" name="push" class="btn btn-primary" style="background-color:#7760aa">Submit</button>
	</form>
</div>

<br>
<br>
<br>
-->





<div class = "container">
	<form action="/reno_features" method="get">
	<div class="row">
        <div class="col-sm-4">
          <ul class="list-group">
            <label for="sel1"> <h4> Zipcode: </h4> </label> 
          </ul>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-8">
		<select class="form-control col-sm-3" id="zipcode" name="zipcode"> 
		<option> 02109 </option>
		<option> 02114 </option>
		<option> 02116 </option>
		<option> 02118 </option>
		<option> 02119 </option>
		<option> 02120 </option>
		<option> 02121 </option>
		<option> 02122 </option>
		<option> 02124 </option>
		<option> 02125 </option>
		<option> 02126 </option>
		<option> 02127 </option>
		<option> 02128 </option>
		<option> 02129 </option>
		<option> 02130 </option>
		<option> 02131 </option>
		<option> 02132 </option>
		<option> 02134 </option>
		<option> 02135 </option>
		<option> 02136 </option>
		<option> 02467 </option>
		</select>
	</div> <!-- /.col-sm-8 -->
	</div> <!-- row -->
<!--
	<div class="row">
        <div class="col-sm-4">
          <ul class="list-group"> <label for="sel1"> <h4> Renovation: </h4> </label> </ul>
        </div><!-- /.col-sm-4 -- ! >
        <div class="col-sm-8">
		<select class="form-control col-sm-3" id="reno_feature" name="reno_feature"> 
			<option> Upgrade to Brick Exterior Finish </option>
			<option> Upgrade to Good Exterior Condition </option>
			<option> Add a Fireplace (why not!) </option>
			<option> Upgrade Kitchen to Luxury type </option>
			<option> Upgrade Kitchen to Modern type </option>
			<option> Upgrade roof to Mansard type </option>
			<option> Upgrade to Elaborate Interior Finish </option>
			<option> Upgrade to Excellent Interior Condition </option>
		</select>
	</div> <!-- /.col-sm-8 -- ! > 
	</div> <!-- row -- ! >
-->
<center>
	<div class="row">
        <div class="col-sm-12">
		<!--   https://jqueryui.com/slider/#rangemin    -->
		<!doctype html>
		<html lang="en">
		<head>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <title>jQuery UI Slider - Range slider</title>
		  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		  <link rel="stylesheet" href="/resources/demos/style.css">
		  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		  <script>
		  $( function() {
		    $( "#slider-range" ).slider({
		      range: true,
		      min: 300000,
		      max: 8000000,
		      values: [ 500000, 2000000 ],
		      slide: function( event, ui ) {
			$( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
		      }
		    });
		    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
		      " - $" + $( "#slider-range" ).slider( "values", 1 ));
		  } );
		  </script>
		</head>
		<body>
		 
		<p>
		  <label for="amount"> <h4> Home Price Range (2019): </h4> </label> 
		  <h4> <center>
		  <input type="text" id="amount" name="HomeValue" readonly style="border:0; color:#7760aa; font-weight:bold;">
		  </center> </h4>
		</p>
		 
		<div id="slider-range"></div> 
		</body>
		</html>
		<br>
        </div><!-- /.col-sm-4 -->
	</div><!--- row -->
</center>
<!--
        <div class="col-sm-6">
		<!--   https://jqueryui.com/slider/#rangemin    -- ! > 
		<!doctype html>
		<html lang="en">
		<head>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <title>jQuery UI Slider - Range with fixed minimum</title>
		  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		  <link rel="stylesheet" href="/resources/demos/style.css">
		  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		  <script>
		  $( function() {
		    $( "#slider-range-min" ).slider({
		      range: "min",
		      value: 0,
		      min: 0,
		      max: 200000,
		      slide: function( event, ui ) {
			$( "#amount1" ).val( "$" + ui.value );
		      }
		    });
		    $( "#amount1" ).val( "$" + $( "#slider-range-min" ).slider( "value" ) );
		  } );
		  </script>
		</head>
		<body>
		 
		<p>
		  <label for="amount1"> <h4> Renovation Cost: </h4> </label>
		  <input type="text" id="amount1" name="RenoCost" readonly style="border:0; color:#7760aa; font-weight:bold;">
		</p>
		 
		<div id="slider-range-min"></div>
		 
		</body>
		</html>
        </div><!-- /.col-sm-4 -- ! >
        </div><!--- row -- ! > 
-->
	<button type="submit" name="push" class="btn btn-primary" style="background-color:#7760aa"> <h4> Submit </h4> </button>
	</form>
</div>





















