<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>QuikFlip:Query:{{query.zipcode}}</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/bootstrap-template.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <!-- [endif] -->
</head>

{% include 'index.html' %}



<div class="container">
<div class="page-header">
	<h1> Query </h1>
</div>
</div>

<div class="container">
	<h3> <b> Zipcode: </b>              {{query.zipcode}} </h3>
	<!-- <h3> <b> Renovation: </b>           {{query.reno_feature}} </h3> -->
	<h3> <b> Home Price (min-max): </b>  {{query.HomeValue_min}} - {{query.HomeValue_max}} </h3>
	<!-- <h3> <b> Renovation Cost: </b>     ${{query.reno_cost}} </h3> -->
	<h3> {{query.size}} recommendations found! {{query.isZero}}   &#128513 </h3>
</div>



<div class="container">
	<html>
	  <head>
	    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	    <meta charset="utf-8">
	    <title>Marker Labels</title>
	    <style>
	       /* Set the size of the div element that contains the map */
	      /* Always set the map height explicitly to define the size of the div
	       * element that contains the map. */
	      #map {
		height: 400px;  /* The height is 400 pixels */
		width: 100%;  /* The width is the width of the web page */
	      }
	      /* Optional: Makes the sample page fill the window. */
	      html, body {
		height: 400px;  /* The height is 400 pixels */
		width: 100%;  /* The width is the width of the web page */
		margin: -10;
		padding: -10;
	      }
	    </style>
	    <script src="https://maps.googleapis.com/maps/api/js?key=MY_KEY"></script>
	    <script>
	      // In the following example, markers appear when the user clicks on the map.
	      // Each marker is labeled with a single alphabetical character.
	      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
	      var labelIndex = 0;

	      function initialize() {
		var lat = 42.3601
		var long = -71.0589

		{% if(query.size!=0) %}
			lat = {{tables[0]["latitude"]}}
			long = {{tables[0]["longitude"]}}
		{% endif %}

		var Boston = { lat: lat, lng: long};
		var map = new google.maps.Map(document.getElementById('map'), {
		  zoom: 13,
		  center: Boston
		});

		{% for val1 in range(0,query.size) %}
		  var lat = {{tables[val1]["latitude"]}};
		  var long = {{tables[val1]["longitude"]}};
		  var cpname = {{val1}}+1;
		  var location = new google.maps.LatLng(lat, long);

		  var marker = new google.maps.Marker({
		    map: map,
		    draggable: false,
		    title: cpname,
		    animation: google.maps.Animation.DROP,
		    position: location,
		    label: String(cpname)
		  });
		{% endfor %}

	      }
	      google.maps.event.addDomListener(window, 'load', initialize);
	    </script>
	  </head>
	  <body>
	    <div id="map"></div>
	  </body>
	</html>
</div>
<br>







<div class = "container">
<div align="right">
</div>
      <div class="row">
        <div class="col-md-14">
          <table class="table table">
            <thead> <tr> 
		<th>   </th> 
		<!-- <th> <h3> <b> <center> House </center> </b>  </h3> </th>  -->
	    </tr> </thead>
		<tbody>
		{% for val1 in range(0,query.size) %}
			<tr>
			<td> <h3> <b> {{val1+1}} </b> </h3> </td>
			<td> <h3> 
				<b>Address:</b> {{ tables[val1]["FULLADD"]}} 
				<br> 
				<b>Quik-flip 2019 estimate:</b> {{ tables[val1]["MARKET_VALUE"]}} <br>
				<b>Pre-renovation 2020 estimate:</b> {{ tables[val1]["Appreciation_2020"]}} ({{ tables[val1]["1yr_Increase"] }})
				<br></br>

			      <div class="row col-md-14"> <table class="table table-bordered">
					<thead> <tr> 
						<th> <h3> <b> <center>  <a href="#" data-toggle="tooltip" data-placement="left"  title="Proposed features for renovations">Renovation upgrades</a>  </center> </b>  </h3> </th> 
						<th> <h3> <b> <center>  <a href="#" data-toggle="tooltip" data-placement="top" title="Year 2020 market-value estimate for the renovated property">Post-reno. <br> 2020 estimate</a>  </center> </b>  </h3> </th> 
						<th> <h3> <b> <center>  <a href="#" data-toggle="tooltip" data-placement="top" title="Estimated cost of renovations, approximated based on national average and the number of floors">Estimated <br> renovation <br> cost</a>  </center> </b>  </h3> </th> 
						<th> <h3> <b> <center>  <a href="#" data-toggle="tooltip" data-placement="top" title="Expected profit in year 2020 obtained using: 
Post-reno. 2020 estimate - quik-flip 2019 estimate - estimated renovation cost. 
">Post-reno. <br> 2020 profit</a>   <a href="#" data-toggle="tooltip" data-placement="top" title="Return On Investment where investment = 2019 market-value + renovation costs"> (ROI) <br> </a>  </center> </b>  </h3> </th> 
					</tr> </thead>
				    <thead> <tr> 
				    <th>
					 <h3> Excellent Internal Condition  </h3> 
					 <h3> Elaborate Interior Finish  </h3> 
					 <h3> Good External Condition  </h3> 
					 <h3> Cement Exterior Finish  </h3> 
					 <h3> Brick Exterior Finish  </h3> 
					 <h3> Update to Mansard Roof  </h3> 
					<!-- <h3> Luxury Kitchen  </h3>  -->
					 <h3> Modern Kitchen  </h3> 
				    </th> 
				    <th>
					 <h3> {{ tables[val1]["MVReno20_INT_COND"]}}  </h3> 
					 <h3> {{ tables[val1]["MVReno20_INT_FIN"]}}   </h3> 
					 <h3> {{ tables[val1]["MVReno20_EXT_COND"]}}   </h3> 
					 <h3> {{ tables[val1]["MVReno20_EXT_FIN_C"]}}   </h3> 
					 <h3> {{ tables[val1]["MVReno20_EXT_FIN_B"]}}   </h3> 
					<!-- <h3> {{ tables[val1]["MVReno20_FRPL"]}}   </h3> -->
					 <h3> {{ tables[val1]["MVReno20_ROOF_M"]}}   </h3> 
					<!-- <h3> {{ tables[val1]["MVReno20_KITCHEN_L"]}}   </h3> -->
					 <h3> {{ tables[val1]["MVReno20_KITCHEN_M"]}}   </h3> 
				    </th> 
				    <th>
					 <h3> {{ tables[val1]["Expected_RenoCost_INT_COND"]}}  </h3> 
					 <h3> {{ tables[val1]["Expected_RenoCost_INT_FIN"]}}   </h3> 
					 <h3> {{ tables[val1]["Expected_RenoCost_EXT_COND"]}}   </h3> 
					 <h3> {{ tables[val1]["Expected_RenoCost_EXT_FIN_C"]}}   </h3> 
					 <h3> {{ tables[val1]["Expected_RenoCost_EXT_FIN_B"]}}   </h3> 
					<!-- <h3> {{ tables[val1]["Expected_RenoCost_FRPL"]}}   </h3> -->
					 <h3> {{ tables[val1]["Expected_RenoCost_ROOF_M"]}}   </h3> 
					<!-- <h3> {{ tables[val1]["Expected_RenoCost_KITCHEN_L"]}}   </h3> -->
					 <h3> {{ tables[val1]["Expected_RenoCost_KITCHEN_M"]}}   </h3> 
				    </th> 
				    <th>
					 <h3> {{ tables[val1]["Prof20_INT_COND"]}}  ({{ tables[val1]["ROI_INT_COND"]}}%)</h3> 
					 <h3> {{ tables[val1]["Prof20_INT_FIN"]}}  ({{ tables[val1]["ROI_INT_FIN"]}}%)</h3> 
					 <h3> {{ tables[val1]["Prof20_EXT_COND"]}}  ({{ tables[val1]["ROI_EXT_COND"]}}%)</h3>  
					 <h3> {{ tables[val1]["Prof20_EXT_FIN_C"]}}  ({{ tables[val1]["ROI_EXT_FIN_C"]}}%)</h3> 
					 <h3> {{ tables[val1]["Prof20_EXT_FIN_B"]}}  ({{ tables[val1]["ROI_EXT_FIN_B"]}}%)</h3> 
					<!-- <h3> {{ tables[val1]["Prof20_FRPL"]}}   </h3> -->
					 <h3> {{ tables[val1]["Prof20_ROOF_M"]}}  ({{ tables[val1]["ROI_ROOF_M"]}}%)</h3>  
					<!-- <h3> {{ tables[val1]["Prof20_KITCHEN_L"]}}  ({{ tables[val1]["ROI_KITCHEN_L"]}}%)</h3> -->
					 <h3> {{ tables[val1]["Prof20_KITCHEN_M"]}}  ({{ tables[val1]["ROI_KITCHEN_M"]}}%)</h3>  
				    </th> 
				  </tr> </thead>
			          </table> </div>




			</h3> </td>
			<tr>
		{% endfor %}
		
		</tbody>
          </table>
        </div>
       </div>
</div>



<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>





